.tbao {
    width: 48%;
    height: 100px;
    float: left;
    margin: 5px;
    background-color: rgb(57, 57, 128);
    color: whitesmoke;
}

.tbao > a {
    text-decoration: none;
    margin: o 5px;
    padding: 5px 8px;
    color: white;
    font-size: 18px;
}

.tbao > a:hover {
    color: orange;
    font-weight: bold;
}

.noidung {
    width: 33%;
    float: left;
}

.box {
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    margin: 5px;
    margin-bottom: 20px;
    padding: 5px;
}
.name{
    color:orangered;
}